@tailwind base;
@tailwind components;
@tailwind utilities;

.main_card{
    background-color: white;
    width: 250px;
    padding: 10px;
    margin: 10px;
   
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.mm{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.card-body{
    font-family: sans-serif;
    font-size: 18px;
}

.card-body h5{
    color: rgb(57, 56, 56);
    font-size: 16;
}